.open::after{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    opacity: 0.88;
}
