#flyoutMenu{
    width: 20vw;
    opacity: 0.75;
    height: 100vh;
    background-color:#333;
    position: fixed;
    top:0;
    left: 0;
    transition: transform 0.6s cubic-bezier(0, .52,0,1);
    overflow: scroll;
    z-index: 1000;
}
#flyoutMenu.hide{
    transform: translate3d(-100vw,0,0);

}
#flyoutMenu.show{
    transform: translate3d(0vw,0,0);
    overflow: hidden;
}
#flyoutMenu h2{
    width: 100%;
    margin: 0;
    padding: 15px;
    transition: all .2s ease-out;
}
#flyoutMenu h2 a {
    color:white;
    text-decoration: none;

}
#flyoutMenu h2:hover{
    text-decoration: underline;

    background-color:green;
    color:#fff;
}
.plank{
    display: block;

    height: 3px;
    background-color: forestgreen;

}
.under__block{
    margin-top: 30px;
    width: 20vw;
}
.under__block p{
    text-align: right;
    color:white;
    font-size: 10px;
    margin: 0;
}
